{%extends 'main/base.html'%}



{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOTBALLSTATS</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" 
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
</head>
<body class="items">
    <div class="intro">
     <h2 class="text-center">Our Football API is designed for iGaming, media, developers and football enthusiasts alike, ensuring you can create a football application that meets your needs.</h2>
    </div>
    <div class="row">
        <div class="col-3">
            <h3 class="text-center" style="color: brown;">FOOTBALL STATISTICS</h3>
            <div class="col-12">
                <table>
                    <tr>
                      <th>Company</th>
                      <th>Contact</th>
                      <th>Country</th>
                    </tr>
                    <tr>
                      <td>Alfreds Futterkiste</td>
                      <td>Maria Anders</td>
                      <td>Germany</td>
                    </tr>
                  </table>
                  <div class="row1">
    <button class="btn btn-outline-primary"><span style="color: brown;">States</span></button>
    <button class="btn btn-outline-primary"><span style="color: brown;">Leagues</span></button>
    <button class="btn btn-outline-primary"><span style="color: brown;">League</span></button>
</div>
            </div>
        </div>



    </div>
</body>
</html>
{% endblock %}